@keyframes wipe {
    0% {
        color: rgba($white, 0);
        box-shadow: inset 0 0 0 0 $white;
        // background: $white;
    }

    100% {
        color: $white;
        box-shadow: inset 700px 0 0 0 $red;
        // background: $red;
    }
}

@keyframes lightwipe {
    0% {
        color: rgba($black, 0);
        box-shadow: inset 0 0 0 0 $white;
        // background: $white;
    }

    100% {
        color: $black;
        box-shadow: inset 700px 0 0 0 $white;
        // background: $red;
    }
}

@keyframes hint {
    0% {
        color: $white;
        box-shadow: inset 0 0 0 0 $black;
    }

    45% {
        color: $white;
        box-shadow: inset 0 0 0 0 $black;
    }

    50% {
        box-shadow: inset 250px 0 0 0 $white;
        color: $black;
    }

    55% {
        box-shadow: inset 250px 0 0 0 $white;
        color: $black;
    }

    95% {
        box-shadow: inset 250px 0 0 0 $white;
        color: $black;
    }

    100% {
        color: $white;
        box-shadow: inset 0 0 0 0 $black;
    }
}

@keyframes blackwipe {
    0% {
        width: 0;
    }

    40% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    90% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@keyframes redwipe {
    0% {
        width: 0;
    }

    40% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    90% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

// Revealer
.block-revealer {
    transform: translateX(-100%);
    transition: transform 250ms ease-out;
}

.block-text.hide-text>.block-revealer__content {
    transition-delay: 0s;
}

.block-revealer__content {
    opacity: 0;
    transition-delay: .5s;
}

.block-text.hide-text>.block-revealer__element {
    transition: opacity 150ms 500ms ease-out, transform 170ms 500ms ease-in-out;
}

.block-revealer__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    pointer-events: none;
    opacity: 0;
    transition: opacity 150ms ease-out, transform 170ms 500ms ease-in-out;
    transform: scaleX(1);
}

.reveal {
    transform: translateX(0);
    opacity: 1;

    >.block-revealer__content {
        opacity: 1 !important;
    }

    >.block-revealer__element {
        transform: scaleX(0) !important;
        opacity: 1 !important;
        transform-origin: 100% 50% 0px;
        background-color: $white;

    }

    &.alt {
        >.block-revealer__element {
            background-color: $red;

        }
    }
}

.reveal-hiding {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 500ms .4s ease-in-out, opacity .5s 1s !important;

    >.block-revealer__element {
        transform: scaleX(1) !important;
    }
}

.reveal-hide {
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 170ms .65s ease-out, transform 500ms .5s ease-in-out !important;

    >.block-revealer__content {
        opacity: 0 !important;
    }

    >.block-revealer__element {
        transform: scaleX(0) !important;
        opacity: 1 !important;
        transition: opacity .1s ease, transform .25s .1s $trans-cubic;
    }
}

.showSlow {
    opacity: 1 !important;
    transition: opacity .25s 2.5s ease-in-out;
}