.BikeRoute {
    width: 70vw;
    @include fixed(bottom 5% left 50%);
    z-index: 1000;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    .BikeStop {
        width: 16.667%;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.3);

        .bar {
            background-color: $red;
            height: 100%;
            width: 0%;
            transition: width .3s ease-in-out;
        }
    }

    .RouteMarker {
        @include absolute(top -60px left 0);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: width .35s ease-in;

        .DaveMarker {
            width: 60px;
        }

    }
}