.quote {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: -4vw;

    .block {
        background: $white;
        color: $black;
        text-transform: uppercase;
        font-weight: bold;
        width: fit-content;
        padding: .2em .4em;
        font-size: 3em;
        margin: 0 0 .2em;

        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                transition-delay: 150ms * $i;
            }
        }

        &.reveal-hiding {
            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                    transition-delay: calc(150ms * 4) / $i !important;
                }
            }
        }

        &.hidden {
            visibility: hidden !important;
            z-index: -9999 !important;
        }
    }

    &.alt {
        .block {
            background: $red;
            color: $white;
        }
    }
}