// #Text-Variables
$gotham: "Gotham", sans-serif;

$font-weight-light: 300;
$font-weight-med: 500;
$font-weight-bold: bold;
$font-weight-bolder: bolder;

$white: #ffffff;
$black: #000000;
$gray: #8a7c78;
$red: #ea002a;

$white_trans: rgba(255, 255, 255, 0);
$black_trans: rgba(0, 0, 0, 0);
$white_overlay: rgba(255, 255, 255, 0.3);
$black_overlay: rgba(0, 0, 0, 0.57);

$inherit: inherit;
$trans: transparent;

$trans-fast: all 150ms ease-in-out;
$trans-slow: all 300ms ease-in-out;
$trans-cubic: cubic-bezier(0.48, 0.96, 0.57, 1.02);