.video-scene {
    @include fixed(top 0 left 0);
    @include size(100vw, 100vh);
    @include flex-center;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;

    .video {
        min-height: 100%;
    }
}